<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Leaders Page</title>
    </head>

    <body>
       <h2>Leaders Page</h2>
       <hr>

       <p>
            See you in Brazil for annual Leadership!
            <br>
            Keep this trip a secret, don't tell the regular employees LOL - this is only for leader.
       </p>

       <hr>

       <a th:href="@{/}">Back to the home page</a>
    </body>

</html>