<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Admins Page</title>
    </head>

    <body>
       <h2>Administrators Page</h2>
       <hr>

       <p>
            This is extremely restrict information!
            <br>
            We're firing everyone in about two months :'| 
            <br>
            We're about to bankrupt.
       </p>

       <hr>

       <a th:href="@{/}">Back to the home page</a>
    </body>

</html>